/***** Fonts *****/

div#header {
   font-size:250%;
}

nav#menu li {
   font-size:109%;
}


/***** Colours *****/
/* see http://www.w3.org/TR/css3-color/#hsl-examples */

/* black */

.nav-link {
   color:black !important;
}

/* dark */

div#content a[href] {
   color:hsl(30,90%,35%);
}


/* light */

.navbar-toggler {
   background-color:hsl(30,90%,75%);
}

nav#menu li {
   background-color:hsl(30,90%,75%);
   border-color:hsl(30,90%,75%);
}


/* white */

nav#menu li:hover, ul.submenu li:hover {
   background-color:white;
   transition:0.3s ease-in-out;
}


/* others */

.rouge {
   background-color:red !important;
}

.orange {
   background-color:orange !important;
}

.jaune {
   background-color:yellow !important;
}

.bleu {
   background-color:lightblue !important;
}

.vert {
   background-color:lightgreen !important;
}


/***** Images *****/

img {
   padding:1em;
}


/***** Magazine *****/

ul.revue {
   list-style-type:square;
}

span.espece {
   font-style:italic;
}

h2.auteur {
   text-align:center;
}

/***** Everything else *****/

h1 {
   text-align:center;
}

#subtitle {
   text-align:center;
}

a[href] {
   color:inherit;
   text-decoration:none;
}

div#header {
   text-align:center;
}

nav#menu {
   margin:0;
   margin-bottom:1rem;
   padding:0;
}

.navbar-toggler {
   width:100%;
   border:none;
   border-radius:0;
   text-align:left;
}

nav#menu ul {
   width:100%;
}

#menu li {
   width:100%;
   border-style:solid;
   border-width:1px;
}

#menu ul li:last-child {
   margin-right:0 !important;
}


ul.submenu {
   margin:0;
   padding:0;
   border-style:solid;
   border-width:1px;
}


div#content a[href] {
   text-decoration:underline;
}

address {
   float:right;
}

